img {
    width:30%;
    margin: calc(10%/6);
}

body {
    font-size: 80px;
}

nav {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    width: 30%;
    padding: 1.2em 0;
}